#cajas div{
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: red;
}
#cajas{
    background-color: rgba(139, 27, 27, 0.301);
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.botones1{
    margin: 10px;
}
#cajas2{
    background-color: rgb(173, 117, 117);
    padding: 20px;
    width: fit-content;
}
#cajas3{
    width: fit-content;
    background-color: rgb(173, 117, 117);
    padding: 20px;
    margin-top: 20px;
}
#texto{
    font-size: 20px;
    margin-bottom: 10px;
}
.tam{
    width: fit-content;
    height: fit-content;
}