body{
    background-color: green;
}
div{
    font-size: 2em;
    font-weight: 900;
    margin-top: 9px;
    margin-bottom: 9px;

}
button{
    background-color: rgb(35, 73, 35);
    transition: 2s;
    color: white;
    padding: 10px;
}
button:hover{
    background-color: blue;
}
#contenedor,#contenedor2,#contenedor3 {
    width: 300px;
    
    border: white 1px solid;
    font-size: 20px;
    padding: 20px;
}
form input{
    margin-bottom: 9px;
}
/* #contenedor2{
    width: 300px;
    min-height: 50px;
    border: white 1px solid;
}
#contenedor3{
    width: 300px;
    min-height: 50px;
    border: white 1px solid;
} */
