body{
    margin: 0;
    background-color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 h1{
    color: yellow;
 }

 .boton{
     background-color: blue;
     padding: 1em;
     width: fit-content;
     margin-bottom: 1em;
     cursor: pointer;
     display: inline-block;
 }

 .salida{
    border:1px white solid;
    width:fit-content;
    padding: 15px;
 }

 

 

